.containerBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  
  .container1{
    display: grid;
    border: black 5px double;
    background: rgb(196, 194, 194);
    padding: 5px;
  
  }
  
  .container2{
    display: grid;
    border: 1px solid black;
    background: rgb(156, 156, 156);
    padding: 5px;
  
  }

  .containerButtoms{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  }
  
  .blockGauge{
    border: 1px solid black;
    grid-template-columns: 1fr 1fr;
    background: rgb(156, 156, 156);
    justify-self: center;
    align-self: center;
    width: 25%;
    height:25%;
  }
  .graph {
    display: inline-block;
    width: 65%;
    height: 50%;
  }
  
  .gauge{
    justify-self: center;
    align-self: center;
    width:25%;
    height:25%;
  }
  
  .boton{
    display:inline;
    padding: 5px;

  }
  
  .graphTytle{
    font-size: 14px;
    /*background-image: linear-gradient(to left, #384e9510, #c31d1d);*/
    color:#0000008a;
    background-clip: text;
    display: flex;
    -webkit-background-clip: text;
    justify-content: center;
    align-items: center
  }
  
  .dropdown1{
    display:inline-block;
    text-align: left;
    width: 200px;
    height: 30px;
    padding: 5px;
  }
  
  .dropdown2{
    display:inline-block;
    text-align: left;
    width: 200px;
    height: 30px;
  }
  
  .dropdownStyle{
    background-color: rgb(207, 207, 207) !important;
    border-color: black !important;
    color: black !important;
    width: 150px !important;
  
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  