:root {
    --color-principal: #5860d0;
    --color-hover-active: #3dc2f3; 
    --color-texto-hover: black;
    --color-texto: WHITE;
    --color-active: #94d6ee;
    --color-texto-active: black;

}

.items {
    background-color: var(--color-principal);
    color: var(--color-texto);
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    transition: all 0.4 ease;
}

.items:hover {
    background-color: var(--color-hover-active);
    color: var(--color-texto-hover);
}

.itemsActive{
    background-color: var(--color-active);
    color: var(--color-texto-active);
}
.itemsAcordeon {
    color: var(--color-texto);
    cursor: pointer;
    padding: 10px;
}
.acordeon{
    margin-bottom: 15px;
}


.acordeon:hover{
    color: var(--color-texto-hover);
}
details[open].acordeon summary{
    color: black;
}


